* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f6f8;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* LEFT PANEL */
.left-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.card img {
  width: 6.25rem;
  border-radius: 8px;
}

.info {
  flex: 1;
  padding: 0 10px;
  font-size: 14px;
}
.info h4{
  font-weight: bold;
  color: black;
  font-size: 1.2rem;

}
.info p{
  color: #64748B;
  width: 80%;
  /* background-color: red; */
}

.info a{
  color: #3b82f6;
  text-decoration: none;
  font-size: 14px;
}
.info a:hover{
  text-decoration: underline;
}
.price {
  text-align: right;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.price  span{
  font-size: 1.2rem;

}

.price button {
  display: block;
  margin-top: 5px;
  background: #3b82f6;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* RIGHT PANEL */
.right-panel {
  width: 50%;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.product {
  display: flex;
  gap: 20px;
  align-items: center;
}

.product img {
  width: 180px;
  border-radius: 15px;
}

.product-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.reviews {
  color: #888;
  margin-bottom: 10px;
}

.product-info h3 {
  margin-bottom: 10px;
}

.cart-btn {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}
.product-info p span:first-child{
  color: gold;
  width: 80%;
}
/* SPECS */
.specs {
  margin-top: 20px;
  width: 100%;
}

.specs h3 {
  /* margin: 15px 0 10px; */
  margin: 1rem 0rem;
  font-weight: 600;
}

.table {
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
}

.table div {
  /* display: grid; */
  /* grid-template-columns: 1fr 10fr; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #e5e5e5;
  background: #fafafa;
}

/* left text */
.table div span:first-child {
  justify-self: start;   /* LEFT */
  text-align: left;
  font-weight: 500;
}

/* right text */
.table div span:last-child {
  justify-self: end;     /* RIGHT */
  text-align: right;
  color: #555;
}

.table div:nth-child(even) {
  background: #f3f3f3;
}

/* ------------------------header section--------------------- */
header{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E2E8F0;
    margin-bottom: 1rem;
}
.header-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: lightgreen; */
    padding: 0rem 2rem;

}

.header-container> .inner-container-1{
    /* background-color: salmon; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}
.header-container> .inner-container-1>.logo-container{
    display: flex;
    gap: 5px;
    
}
.header-container> .inner-container-1>.logo-container>h2{
    color: #1E293B;
    font-weight: bold;
    font-size: 22px;
}
.header-container> .inner-container-1>.logo-container>.logo-img-container>img{
    width: 32px;
    height: 32px;
}

.header-container> .inner-container-2{
    /* background-color: lightpink; */
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
.header-container> .inner-container-2>input{
    height: 70%;
    width: 90%;
    padding: 0.8rem 1.8rem;
    border-bottom-left-radius: 30px;
    outline: none;
    background-color: #F1F5F9;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.header-container> .inner-container-2>input::placeholder{
    font-size: 1rem;
}

.header-container> .inner-container-2>button{
    height: 70%;
    width: 8%;
    background-color: #F1F5F9;
    border-top-right-radius: 30px;
    border: none;
    outline: none;
}
.header-container> .inner-container-2>button>i{
    font-size: 1.25rem;
    color: #475569;

}

 .header-container> .inner-container-3{
    /* background-color: salmon; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0rem 1rem;
 }
 
 .header-container> .inner-container-3>.header-icon{
    height: 40px;
    width: 40px;
   font-size: 1.25rem;
   background-color: #F1F5F9;
   color: #475569;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
 }
 
 .header-container> .inner-container-3>button{
    background-color: #6BB6B0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1.8rem;
    border-radius: 30px;
    gap: 10px;
    color: white;
 }


/* --------------------------------footer section-------------------- */
 footer{
    height: 400px;
    width: 100%;
    
}
.footer-container{
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    padding: 2rem 2.5rem;

    display: flex;
    flex-direction: column;
    
}
/* footer-top container css  */
.footer-container>.footer-top-container{
    height: 80%;
    width: 100%;
    background-color: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
}

.footer-container>.footer-top-container>.brand-container{
    /* background-color: lightcoral; */
    /* border: 2px solid black;  */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-container>.footer-top-container>.brand-container>.brand-logo{
    /* background-color: red; */
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.footer-container>.footer-top-container>.brand-container>.brand-logo>h2{
   font-size: 1.5rem;
   font-weight: bold;
   color: #1E293B;
}
.footer-container>.footer-top-container>.brand-container>.brand-content{
    /* background-color: blue; */
    width: 90%;
}
.footer-container>.footer-top-container>.brand-container>.brand-content>p{
    line-height: 1.5rem;
    color: #64748B;
    font-size: 1rem;

}
.footer-container>.footer-top-container>.link-container{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-container>.footer-top-container>.link-container>.link-title{
    /* background-color: red; */
}
.footer-container>.footer-top-container>.link-container>.link-title>h3{
   color: #1E293B;
   font-weight: bold;
   font-size: 1rem;
}
.footer-container>.footer-top-container>.link-container>.link-menu{
    /* background-color: blue; */
}
.footer-container>.footer-top-container>.link-container>.link-menu>ul>li>a{
    font-size: 14px;
    color: #64748B;
    line-height: 1.5rem;
}

.footer-container>.footer-top-container>.link-container>.input-field{
    /* background-color: yellow; */
    display: flex;
    gap: 1rem;
}
.footer-container>.footer-top-container>.link-container>.offer-para-container{
    /* background-color: green; */
    width: 90%;
}
.footer-container>.footer-top-container>.link-container>.offer-para-container>p{
    font-size: 14px;
    color: #64748B;
    line-height: 1.5rem;
}
.footer-container>.footer-top-container>.link-container>.input-field>input{
    padding: 0.7rem 1rem;
    width: 60%;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #F8FAFC;
    border: 1px solid #E2E8F0;
}
.footer-container>.footer-top-container>.link-container>.input-field>input::placeholder{
    color: #6B7280;
}
.footer-container>.footer-top-container>.link-container>.input-field>button{
    padding: 0.7rem 2rem;
    background-color: #6BB6B0;
    color: #FFFFFF;
    border-radius: 24px;
}



/* footer-bottom container css */
.footer-container>.footer-bottom-container{
    height: 20%;
    width: 100%;
    /* background-color: black; */
    
}
.footer-container>.footer-bottom-container>.footer-link-container{
    /* background-color: lightseagreen; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.footer-container>.footer-b ottom-container>.footer-link-container>a{
    text-decoration: none;
    color: #64748B;
    font-weight: bold;
}